body {
  font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

#testimonial {
  background: rgb(141, 128, 115);
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}

#home {
  background: rgb(160, 149, 127);
  color: white;
  height: 700px;
}

#aboutme {
  background: rgb(151, 163, 245);
  color: white;
  height: 700px;
}

#skill {
  background: rgb(245, 196, 151);
  color: white;
  height: 700px;
}

#work {
  background: rgb(151, 245, 182);
  color: white;
  height: 700px;
}

#work {
  background: rgb(151, 245, 182);
  color: white;
  height: 700px;
}

#connect {
  background: rgb(202, 167, 212);
  color: white;
  height: 700px;
}

#box {
  background: rgb(151, 163, 245);
  color: white;
  height: 300px;
  width: 300px;
}

footer {
  background: url(../img/smartphones.png);
}
